{% extends "shopping/base.html" %}

{% block body %}

<main>
    <div id="nav">
        <div class="site-name">DigitalPantry</div>
    </div>
    <div id="content" class="fancy-scrollbar">

        <div id="search">
            <div class="generic-container-dark">
                <div id="search-form">
                    <form method="post">
                        {% csrf_token %}
                        <input type="search" name="query" placeholder="{{ search_term }}">
                        <button type="submit">Search</button>
                    </form>
                </div>

            </div>
        </div>

        <div class="filters">
            <div class="filter-container generic-container-dark">
                <div class="generic-container-medium">
                    <form action="" method="post">
                        {% csrf_token %}
                        <button name="sort_by" value="lowest_price">Lowest Price</button>
                        <button name="sort_by" value="highest_price">Highest Price</button>
                        <button name="sort_by" value="lowest_unit_price">Lowest Unit Price</button>
                        <button name="sort_by" value="highest_unit_price">Highest Unit Price</button>
                        <button name="sort_by" value="lowest_quantity">Lowest Quantity</button>
                        <button name="sort_by" value="highest_quantity">Highest Quantity</button>
                        <button name="filter_by" value="weight">UnitType.Weight</button>
                        <button name="filter_by" value="volume">UnitType.Volume</button>
                        <button name="filter_by" value="other">UnitType.Other</button>
                        <button name="clear_filters" value="other">Clear filters</button>

                    </form>
                    <div class="filter-form">
                        <!-- <form method="post" name="filters">
                            {% csrf_token %}
                            <div class="form-wrapper">
                                <div class="grid-wrapper-container">
                                    <div class="grid-wrapper generic-container-light">
                                        <div></div>
                                        <div>sort_high</div>
                                        <div>sort_low</div>
                                        <div>filter_low</div>
                                        <div>filter_high</div>
                                        <div>filter_on</div>
                                        <div>filter_off</div>
                                        <div>weight/volume/other</div>
                                        <div class="generic-container-transp">Price</div>
                                        <div class="generic-container-transp">
                                            <input type="radio" value="" name="sort">
                                        </div>
                                        <div class="generic-container-transp">
                                            <input type="radio" value="" name="sort">
                                        </div>
                                        <div class="generic-container-transp">
                                            <input class="float-input-short" type="number" id="quantity"
                                                name="price_filter_low">
                                        </div>
                                        <div class="generic-container-transp">
                                            <input class="float-input-short" type="number" id="quantity"
                                                name="price_filter_high">
                                        </div>
                                        <div class="generic-container-transp">
                                            <input type="radio" value="price_filter_on" name="group_price">
                                        </div>
                                        <div class="generic-container-transp">
                                            <input type="radio" value="price_filter_off" name="group_price"
                                                checked="checked">
                                        </div>
                                        <div></div>


                                        <div class="generic-container-transp">Unit Price</div>
                                        <div class="generic-container-transp">
                                            <input type="radio" value="" name="sort">
                                        </div>
                                        <div class="generic-container-transp">
                                            <input type="radio" value="" name="sort">
                                        </div>
                                        <div class="generic-container-transp">
                                            <input class="float-input-short" type="number" id="quantity"
                                                name="unit_price_filter_low">
                                        </div>
                                        <div class="generic-container-transp">
                                            <input class="float-input-short" type="number" id="quantity"
                                                name="unit_price_filter_high">
                                        </div>
                                        <div class="generic-container-transp">
                                            <input type="radio" value="" name="group_unit_price">
                                        </div>
                                        <div class="generic-container-transp">
                                            <input type="radio" value="" name="group_unit_price" checked="checked">
                                        </div>
                                        <div></div>


                                        <div class="generic-container-transp">Quantity</div>
                                        <div class="generic-container-transp">
                                            <input type="radio" value="" name="sort">
                                        </div>
                                        <div class="generic-container-transp">
                                            <input type="radio" value="" name="sort">
                                        </div>
                                        <div class="generic-container-transp">
                                            <input class="float-input-short" type="number" id="quantity"
                                                name="quantity_filter_low">
                                        </div>
                                        <div class="generic-container-transp">
                                            <input class="float-input-short" type="number" id="quantity"
                                                name="quantity_filter_high">
                                        </div>
                                        <div class="generic-container-transp">
                                            <input type="radio" value="quantity_filter_on" name="group_quantity">
                                        </div>
                                        <div class="generic-container-transp">
                                            <input type="radio" value="quantity_filter_off" name="group_quantity"
                                                checked="checked">
                                        </div>
                                        <div>
                                            <input type="radio" value="unit_weight" name="group_units"
                                                checked="checked">
                                            <input type="radio" value="unit_volume" name="group_units"
                                                checked="unchecked">
                                            <input type="radio" value="unit_other" name="group_units"
                                                checked="unchecked">
                                        </div>
                                    </div>
                                </div>
                                <div class="generic-container-transp">
                                    <button type="submit" name="filters">Filter</button>
                                </div>

                        </form> -->



                    </div>
                </div>
            </div>
        </div>

        <div class="generic-container-medium">
            <div class="search-result">
                {% if item_list %}
                <div class="result-container">
                    <div class="generic-container-dark">
                        <div class="item-list-container generic-container-dark fancy-scrollbar">
                            {% for item in item_list %}
                            <div class="item-container generic-container-light">
                                <div class="product-details-container">
                                    <div class="thumbnail generic-container-medium">
                                        <img src="{{item.thumbnail}}" alt="">
                                    </div>
                                    <div class=".product-desc generic-container-medium">
                                        {{ item.description }}
                                    </div>
                                    <div class="generic-container-medium product-details-metadata-container">
                                        <div class="generic-container-light">{{item.price}} ({{item.price.to_nzd}})
                                        </div>
                                        <div class="generic-container-light">
                                            {{item.quantity}}</div>
                                        <div class="generic-container-light">{{item.unit_price}}
                                            ({{ item.unit_price.to_nzd }}) </div>
                                        <div class="generic-container-light">
                                            <form action="{% url 'shopping:add_to_cart' item.identifier %}"
                                                method="post">
                                                {% csrf_token %}
                                                <input type="Submit" value="Add to cart">
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>

            <div class="search-result">
                {% if item_list %}
                {% if cart_item_list %}
                <div class="result-container">
                    <div class="generic-container-dark">
                        <div class="item-list-container generic-container-dark fancy-scrollbar">
                            {% for cart_item in cart_item_list %}
                            <div class="item-container generic-container-light">
                                <div class="product-details-container">
                                    <div class="thumbnail generic-container-medium">
                                        <img src="{{cart_item.item.thumbnail}}" alt="">
                                    </div>
                                    <div class=".product-desc generic-container-medium">
                                        {{cart_item.item.description }}
                                    </div>
                                    <div class="generic-container-medium product-details-metadata-container">
                                        <div class="generic-container-light">{{cart_item.item.price}}</div>
                                        <div class="generic-container-light">{{cart_item.item.quantity}}</div>
                                        <div class="generic-container-light">{{cart_item.item.unit_price}}</div>
                                        <div class="generic-container-light">{{cart_item.pcs}}
                                            ({{cart_item.total_value}})
                                        </div>
                                        <div class="generic-container-light">
                                            <form
                                                action="{% url 'shopping:remove_from_cart' cart_item.item.identifier %}"
                                                method="post">
                                                {% csrf_token %}
                                                <input type="Submit" value="Remove from cart">
                                            </form>
                                            <form action="{% url 'shopping:add_to_cart' cart_item.item.identifier %}"
                                                method="post">
                                                {% csrf_token %}
                                                <input type="Submit" value="Add to cart">
                                            </form>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endif %}
            </div>
        </div>


    </div>
</main>

{% endblock %}