{% extends "shopping/base.html" %}

{% block body %}

<main>
    <div id="nav">
        <div class="site-name">DigitalPantry</div>
    </div>
    <div id="content" class="fancy-scrollbar">

        <div id="search">
            <div class="generic-container-dark">

                <div id="search-form">
                    <form method="get">
                        <input type="search" name="q" placeholder="{{ search_term }}">
                        <button type="submit">Search</button>
                    </form>
                </div>

            </div>
        </div>

        <div class="filters">
            <div class="filter-container generic-container-dark">
                <div class="generic-container-medium">
                    <form action="" method="post">
                        {% csrf_token %}
                        <button name="sort_by" value="lowest_price">Lowest Price</button>
                        <button name="sort_by" value="highest_price">Highest Price</button>
                        <button name="sort_by" value="lowest_unit_price">Lowest Unit Price</button>
                        <button name="sort_by" value="highest_unit_price">Highest Unit Price</button>
                        <button name="sort_by" value="lowest_quantity">Lowest Quantity</button>
                        <button name="sort_by" value="highest_quantity">Highest Quantity</button>
                        <button name="filter_by" value="weight">UnitType.Weight</button>
                        <button name="filter_by" value="volume">UnitType.Volume</button>
                        <button name="filter_by" value="other">UnitType.Other</button>
                        <button name="clear_filters" value="other">Clear filters</button>

                    </form>
                </div>
            </div>
        </div>
        {% for s in g.s_list %}
        {% if s.item_list_displayed %}
        <div class="generic-container-medium">
            <div class="generic-container-dark">
                <div class="generic-container-dark">
                    <span style="font-size: x-large">Results from {{s.site_name}} for "{{s.query}}"</span>
                </div>
            </div>
            <div class="search-result">
                {% if s.item_list_displayed %}
                <div class="result-container">
                    <div class="generic-container-dark">
                        <div class="item-list-container generic-container-dark fancy-scrollbar">
                            {% for item in s.item_list_displayed %}
                            <div class="item-container generic-container-light">
                                <div class="product-details-container">
                                    <div class="thumbnail generic-container-medium">
                                        <img src="{{item.thumbnail}}" alt="">
                                    </div>
                                    <div class=".product-desc generic-container-medium">
                                        {{ item.description }}
                                    </div>
                                    <div class="generic-container-medium product-details-metadata-container">
                                        <div class="generic-container-light">{{item.price}}
                                        </div>
                                        <div class="generic-container-light">
                                            {{item.quantity}}</div>
                                        <div class="generic-container-light">{{item.unit_price}}</div>
                                        <div class="generic-container-light">
                                            <form action="" method="post">
                                                {% csrf_token %}
                                                <button name="add_to_cart" value="{{ item.identifier }}">Add to
                                                    Cart</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>

            {% if s.cart_items %}

            <div class="generic-container-dark">
                <div class="generic-container-dark">
                    <span style="font-size: x-large">Your waitrose.com Cart</span>
                </div>
            </div>



            <div class="search-result">
                <div class="cart-container">
                    <div class="cart details generic-container-dark">
                        <div>Cart Summary
                            Cart Total: {{s.cart.total_value}}
                            Items: {{s.cart.n_items}}</div>
                        <div>
                            <form action="" method="post">
                                {% csrf_token %}
                                <button name="clear_cart" value="{{ s.store.value }}">
                                    Empty {{ s.store.value }} cart
                                </button>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="result-container">
                    <div class="generic-container-dark">
                        <div class="item-list-container generic-container-dark fancy-scrollbar">
                            {% for item in s.cart_items %}
                            <div class="item-container generic-container-light">
                                <div class="product-details-container">
                                    <div class="thumbnail generic-container-medium">
                                        <img src="{{item.thumbnail}}" alt="">
                                    </div>
                                    <div class=".product-desc generic-container-medium">
                                        {{ item.description }}
                                    </div>
                                    <div class="generic-container-medium product-details-metadata-container">
                                        <div class="generic-container-light">{{item.price}}</div>
                                        <div class="generic-container-light">{{item.quantity}}</div>
                                        <div class="generic-container-light">{{item.unit_price}}</div>
                                        <div class="generic-container-light">{{item.pcs}}
                                            ({{item.total_value}})
                                        </div>
                                        <div class="generic-container-light">
                                            <form action="" method="post">
                                                {% csrf_token %}
                                                <button name="add_to_cart" value="{{ item.item_obj.identifier}}">Add
                                                    to
                                                    Cart</button>
                                            </form>
                                            <form action="" method="post">
                                                {% csrf_token %}
                                                <button name="remove_from_cart"
                                                    value="{{ item.item_obj.identifier }}">Remove</button>
                                            </form>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}

        </div>
        {% endif %}

        {% endfor %}
    </div>
</main>

{% endblock %}