{% extends "shopping/base.html" %}

{% block body %}

<main>
    <div id="nav">
        <div class="site-name">DigitalPantry</div>
    </div>
    <div id="content" class="fancy-scrollbar">

        <div id="search">
            <div class="generic-container-dark">
                <div id="search-form">

                    <form method="post">
                        {% csrf_token %}
                        <input type="search" name="query" placeholder="Search...">
                        <button type="submit">Search</button>
                    </form>

                </div>
            </div>
        </div>


        <div id="search">
            <div class="generic-container-dark">
                <div id="search-form">

                    <form method="post">
                        {% csrf_token %}
                        <input type="search" name="query" placeholder="Search...">
                        <button type="submit">Search</button>
                    </form>

                </div>
            </div>
        </div>

        <div>
            <div class="generic-container-dark">aaaa</div>
        </div>

        <div class="search-result">
            <div class="test">
                <div class="generic-container-light">column1</div>
                <div class="generic-container-light">column2</div>
                <div class="generic-container-light">column3</div>
            </div>
        </div>
    </div>
</main>

{% endblock %}