<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>shopping/index.html</h1>

    <h2>{{ search_term }}</h2>

    Null items below:
    {% if null_item_list %}
    <ul>
        {% for item in null_item_list %}
        <li>
            {{ item }}
        </li>
        {% endfor %}
    </ul>
    {% endif %}

    Valid items below:
    {% if item_list %}
    <ul>
        {% for item in item_list %}
        <li>
            {{ item }}
        </li>
        {% endfor %}
    </ul>
    {% endif %}




</body>

</html>