@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
    --body-color: 10 10 10;

    --font-color: 255 255 255;
    --highlight-color: 33 150 243;

    --theme-background: 30 45 67;

    --theme-light: 51 55 63;
    --theme-medium: 41 43 48;
    --theme-dark: 31 33 38;

    --green: 76 175 80;
}

body,
main {
    height: 100vh;
    width: 100vw;
    margin: 0px;
    background-color: rgb(var(--body-color));
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    color: rgb(var(--font-color));
}

.fancy-scrollbar::-webkit-scrollbar {
    height: 4px;
    width: 4px;
}

.fancy-scrollbar::-webkit-scrollbar-track {
    background-color: transparent;
}

.fancy-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.15);
}

.search-form {
    margin: 2rem;
}

.search-form input {

    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    background-color: rgb(var(--theme-light));
    border-radius: 0.5rem;
    border-width: 0px;
    padding: 0.5rem
}

.search-form button {
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    background-color: rgb(var(--theme-light));
    border-radius: 0.5rem;
    padding: 0.5rem;
    border-width: 0px;
}

.search-form button:hover {
    background-color: rgb(var(--theme-light))
}

/* h1,
h2,
h3,
h4, */
input,
select,
button,
span,
a,
p {
    color: rgb(var(--font-color));
    font-family: "Rubik", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    margin: 0px;
}

.highlight {
    color: rgb(var(--highlight-color));
}

#main-wrapper {
    height: 100%;
    background-color: rgb(30, 30, 30);
    overflow: auto;
    gap: 0.75rem;
}


.results-container {
    background-color: rgb(var(--theme-light));
    display: flex;
    flex-direction: row;
    margin: 2rem;
    padding: 1.5rem;
    border-radius: 0.5rem;
    overflow: scroll;

}

/* .section {} */

.result {
    justify-content: space-between;
    position: relative;
    background-color: rgb(var(--theme-medium));
    padding: 0.5rem;
    margin: 0.5rem;
    width: clamp(30rem, 30rem);
    border-radius: 0.5rem;
}

/* .result>.thumbnail {} */

.result>.thumbnail>img {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    border-radius: 0.5rem;
}

.result>.product-details-container {
    display: flex;
    /* position: relative; */
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;

}

.result>.product-details-container>.product-desc {
    flex-direction: column;
    flex-grow: 1;
    gap: 0.5rem;

    font-size: small;
    text-align: center;
}


.result>.product-details-container>.product-details-metadata-container {
    display: flex;
    /* flex: 2 1 auto; */
    flex-direction: row;
}

.product-details-metadata-container>* {
    font-size: x-small;
    /* position: absolute;
    bottom: 0; */
    padding: 0.2rem;
    margin: 0 0.2rem;
    background-color: rgb(var(--theme-dark));
    border-radius: 0.25rem;
    /* flex-grow: 1 */
}

.product-details-metadata-container>.left {
    text-align: left;
    /* flex  */
}

.product-details-metadata-container>.right {
    text-align: right;
}


/* .section-content-items {} */